<%- include("includes/head.ejs"); %>
<body style="padding-top:0%;">
<%- include("includes/backgroundnoanimation.ejs"); %>
<div class="formtopicBox">

<form method="POST"
      action="/portfolio/<%= selectedSkill.skillName %>/<%= selectedTopic.topicName %>/<%= core %>/edit"
      class="topicForm">

    <h1>Edit Core Skill</h1>

    <input
        type="text"
        name="coreName"
        value="<%= core %>"
        required
    >

    <button type="submit">Save</button>

</form>

</div>

</body>
</html>