<%- include("includes/head.ejs"); %>

    <body>

        

            <div id="pageTwo">
                <%- include("includes/navbar.ejs"); %>
                <%- include("includes/intro.ejs"); %>
                <%- include("includes/education.ejs"); %>
                <%- include("includes/skill.ejs"); %>
                <%- include("includes/projects.ejs"); %>

            </div>
            <script src="app.js" type="module"></script>

            <%- include("includes/footer.ejs"); %>
    </body>

    </html>