<%- include("includes/head.ejs"); %>

    <body>
        <div id="pageTwo">
            <%- include("includes/navbar.ejs"); %>
            <%- include("includes/intro.ejs"); %>
            <%- include("includes/education.ejs"); %>
            <%- include("includes/skill.ejs"); %>
            

        </div>
        <script src="app.js" type="module"></script>
        <script>
            const sectionId = "<%= scrollTo %>";
            if (sectionId) {
                const el = document.getElementById(sectionId);
                if (el) {
                    el.scrollIntoView({ behavior: "smooth" });
                }
            }
        </script>
        <%- include("includes/footer.ejs"); %>
        <%- include("includes/jsscript.ejs"); %>
    </body>

    </html>