<%- include("includes/head.ejs"); %>

    <body>

        <%- include("includes/background.ejs"); %>

            <div id="pageTwo">
                <%- include("includes/publicintro.ejs"); %>
                <%- include("includes/publiceducation.ejs"); %>
                <%- include("includes/publicskill.ejs"); %>

            </div>
            <script src="app.js" type="module"></script>
    </body>

    </html>