<%- include("includes/head.ejs"); %>

    <body>

        <%- include("includes/background.ejs"); %>

            <div id="pageTwo">
                <%- include("includes/intro.ejs"); %>
                <%- include("includes/education.ejs"); %>
                <%- include("includes/skill.ejs"); %>

            </div>
            <script src="app.js" type="module"></script>
    </body>

    </html>