<%- include("includes/head.ejs"); %>

    <body>
        <div id="pageTwo">
            <%- include("includes/publicnavbar.ejs"); %>
            <%- include("includes/publicintro.ejs"); %>
            <%- include("includes/publiceducation.ejs"); %>
            <%- include("includes/publicskill.ejs"); %>
            <section id="projectsSection">
                <%- include("includes/publicprojectleft.ejs"); %>

                <div id="projectsInDetail">

                    <div id="projectDetailHead">
                        <span>
                            <%= selectedProject.projectName %>
                        </span>
                    </div>
                    <div id="projectDetailBody">

                        <!-- DESCRIPTION -->
                        <div class="topicBox">
                            Description
                        </div>
                        <div class="coreSkillBox">
                            <%= selectedProject.description %>
                         </div>


                        <!-- ROLE -->
                        <div class="topicBox">
                            Role
                        </div>
                        <div class="coreSkillBox">
                            <%= selectedProject.role %>
                        </div>


                        <!-- STATUS -->
                        <div class="topicBox">
                            Status
                        </div>
                        <div class="coreSkillBox">
                            <%= selectedProject.status %>
                        </div>


                         <!-- DURATION -->
                        <div class="topicBox">
                            Duration
                        </div>
                        <div class="coreSkillBox">
                            <%= selectedProject.startDate %> → <%= selectedProject.endDate %>
                        </div>



                        <!-- LANGUAGES -->
                        <div class="topicBox">
                            Languages
                        </div>

                        <% if(selectedProject.techStack.languages.length){ %>
                            <% for(let lang of selectedProject.techStack.languages){ %>
                                    <div class="coreSkillBox">
                                        <%= lang %>
                                       </div>
                            <% } %>
                        <% } else { %>
                            <div class="coreSkillBox">None listed</div>
                        <% } %>



                        <!-- FRAMEWORKS -->
                        <div class="topicBox">
                            Frameworks
                        </div>

                        <% if(selectedProject.techStack.frameworks.length){ %>
                            <% for(let fw of selectedProject.techStack.frameworks){ %>
                                <div class="coreSkillBox">
                                    <%= fw %>
                                </div>
                            <% } %>
                        <% } else { %>
                            <div class="coreSkillBox">None listed</div>
                        <% } %>



                        <!-- DATABASES -->
                        <div class="topicBox">
                            Databases
                        </div>

                         <% if(selectedProject.techStack.databases.length){%>
                            <% for(let db of selectedProject.techStack.databases){%>
                                <div class="coreSkillBox">
                                    <%= db %>
                                </div>
                            <% } %>
                        <% } else { %>
                            <div class="coreSkillBox">
                                None listed
                            </div>
                        <% } %>



                        <!-- TOOLS -->
                        <div class="topicBox">Tools</div>

                        <% if(selectedProject.techStack.tools.length){ %>
                            <% for(let tool of selectedProject.techStack.tools){ %>
                                <div class="coreSkillBox">
                                    <%= tool %>
                                </div>
                            <% } %>
                        <% } else { %>
                            <div class="coreSkillBox"> None listed </div>
                         <% } %>



                         <!-- FEATURES -->
                        <div class="topicBox"> Features </div>

                        <% if(selectedProject.features.length){ %>
                            <% for(let feature of selectedProject.features){ %>
                                <div class="coreSkillBox"> <%= feature %> </div>
                            <% } %>
                        <% } else { %>
                            <div  class="coreSkillBox"> No features listed </div>
                        <% } %>



                        <!-- HIGHLIGHTS -->
                        <div class="topicBox"> Highlights </div>

                        <% if(selectedProject.highlights.length){ %>
                            <% for(let h of selectedProject.highlights){ %>
                                <div class="coreSkillBox"> <%= h %> </div>
                            <% } %>
                        <% } else { %>
                            <div class="coreSkillBox"> No highlights listed </div>
                        <% } %>



                        <!-- LINKS -->
                        <div class="topicBox"> Links </div>

                        <% if(selectedProject.githubLink){ %>
                            <a href="<%= selectedProject.githubLink %>" class="coreSkillBox">GitHub Repository</a>
                        <% }%>

                        <% if(selectedProject.liveLink){ %>
                            <a href="<%= selectedProject.liveLink %>" class="coreSkillBox">Live Website</a>
                        <% } %>

                        <% if(!selectedProject.githubLink && !selectedProject.liveLink){ %>
                            <div class="coreSkillBox"> No links available </div>
                        <% } %>


                    </div>

                </div>
            </section>

        </div>
        <script src="app.js" type="module"></script>
        <script>
            const sectionId = "<%= scrollTo %>";
            if (sectionId) {
                const el = document.getElementById(sectionId);
                if (el) {
                    el.scrollIntoView({ behavior: "smooth" });
                }
            }
        </script>
        <%- include("includes/footer.ejs"); %>
        <%- include("includes/jsscript.ejs"); %>
    </body>

    </html>