<%- include("includes/head.ejs"); %>

    <body>

        <%- include("includes/background.ejs"); %>

            <div id="pageTwo">
                <%- include("includes/publicnavbar.ejs"); %>
                <%- include("includes/publicintro.ejs"); %>
                <%- include("includes/publiceducation.ejs"); %>
                <%- include("includes/publicskill.ejs"); %>
                <%- include("includes/publicprojects.ejs"); %>

            </div>
            <%- include("includes/footer.ejs"); %>
            <%- include("includes/jsscript.ejs"); %>
            <script>
const toggle = document.getElementById("themeToggle");

const targets = [
  document.querySelector(".navbar"),
  document.getElementById("greetingBox"),
  document.getElementById("outercoverEduc"),
  document.getElementById("skillsSection"),
  document.getElementById("projectsSection"),
  document.querySelector("footer")
];

toggle.addEventListener("change", ()=>{

  if(toggle.checked){
      targets.forEach(el=>{
          if(el) el.style.backgroundColor="rgba(0,0,0,0.65)";
      });
  } else {
      targets.forEach(el=>{
          if(el) el.style.backgroundColor="";
      });
  }

});
</script>
    </body>

    </html>